---
name: dist

on:
  pull_request:
  push:
    branches:
    - main
    - '2027'
    tags:
    - '*'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: psf/black@stable

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-22.04
        - macos-14
        # TODO robotpy sync doesn't work on Windows
        # - windows-2022
        python_version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install deps
      run: |
        pip install 'robotpy~=2026.0'
        cd 2026KitBotClasses
        python -m robotpy sync
    - name: Run tests
      run: bash run_tests.sh
      shell: bash
